!!! 5
html(lang="en")
	head
		title Stock Predictor

		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(rel="dns-prefetch", href="//fonts.googleapis.com")
		//- link(rel="dns-prefetch", href="//google-analytics.com")

		//- link(rel="icon", href="favicon.png")
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic')
		link(rel="stylesheet", href='style.min.css')

		//- script(src='scripts.min.js')
		script(src='scripts.min.js')
	body
		header
			h1 Stock Predictor
			dl: dt: include ../!includes/info-img.jade
				dd CSCI-620
				dd Group 10
				dd.italic D. Powar
				dd.italic M. Yasonik
				dd.italic R. Johar
		main
			block main
		footer
			block footer