%cf {
	&:after {
		content:"";
		display:table;
		clear:both;
	}
}

%border-box {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

::-moz-selection {}
::selection {}

html, body { min-height:100%; }

html { font:#{$font-size}px/#{$line-height} 'Source Sans Pro', sans-serif; }

body {
	min-width:rem(320);
	background-image: -ms-linear-gradient(bottom right, #033617 0%, #065C27 30%, #033617 70%, #065C27 100%);
	background-image: -moz-linear-gradient(bottom right, #033617 0%, #065C27 30%, #033617 70%, #065C27 100%);
	background-image: -o-linear-gradient(bottom right, #033617 0%, #065C27 30%, #033617 70%, #065C27 100%);
	background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #033617), color-stop(0.3, #065C27), color-stop(0.7, #033617), color-stop(1, #065C27));
	background-image: -webkit-linear-gradient(bottom right, #033617 0%, #065C27 30%, #033617 70%, #065C27 100%);
	background-image: linear-gradient(to top left, #033617 0%, #065C27 30%, #033617 70%, #065C27 100%);
}

a { text-decoration:none; }

h1 {
	font-weight:normal;
	color:#ffe;
	font-size:2rem;
	display:inline-block;
}