@function rem($pixels) {
	@return #{$pixels/$font-size}rem;
}

@mixin transition($properties...) {
	-webkit-transition-property:$properties;
	transition-property:$properties;
	-webkit-transition-duration:.25s;
	transition-duration:.25s;
}