.profile {
	@extend .content;
	> section {
		&:first-child {
			padding-bottom:1.25rem;
			> label, > select { margin-top:.25rem;}
			> select { margin-right:1.25rem; }
			> input { padding:.25rem .5rem; }
		}
		&:last-child {
			padding-top:1.25rem;
			> img {
				width:50%;
				position:relative;
				left:50%;
				margin-left:-25%;
			}
		}
		> table { width:100%; }
	}
}