%background-grey { background-color:$grey; }
%shared-style {
	padding:.5rem;
	border-left:1px solid $charcoal;
}

.stocksTable {
	border:1px solid $charcoal;
	> thead, tfoot {
		@extend %background-grey;
		> tr  {
			> th {
				@extend %shared-style;
				text-align:left;
			}
		}
	}
	> tbody {
		> tr {
			border:1px solid $charcoal;
			> td {
				@extend %shared-style;
			}
		}
	}
}
.stocksTable-remove {
	text-align:center;
	width:5%;
	> label {
		> .icon {
			display:block;
			cursor:pointer;
			&:hover {
				> .x, > circle { @include transition(fill); }
				> .x {
					fill:white;
				}
				> circle { fill:$charcoal; }
			}
		}
	}
}
.stocksTable-symbol { width:15%; }
.stocksTable-name { width:60%; }
.stocksTable-price { width:20%; }