.fancy-input {
	position:relative;
	display:inline-block;
	> input {
		@extend %border-box;
		position:relative;
		z-index:2;
		background-color:transparent;
		width:100%;
		border-radius:.5rem;
		border:1px solid #ccc;
		padding:.5rem;
		margin-bottom:1.25rem;
		&:focus {
			outline:none;
			border:1px solid $pale-green;
			& ~ label:not(.error) {
				top:-.8rem;
				color:$green;
				font-size:80%;
			}
		}
	}
	> label {
		@include transition(top, color, font-size);
		position:absolute;
		top:.5rem;
		left:.5rem;
		&.error {
			@include transition(opacity);
			opacity:0;
			top:-.8rem;
			color:red;
			font-size:80%;
			left:auto;
			right:.5rem;
		}
	}
}