extends !templates/basic.jade

block main
	.stockDetails
		h2 Stock Name
		a(href='../profile.html') Return to your profile &rarr;
		figure
			figcaption Analysis Type 1
			img(src='http://placesheen.com/400/300', alt='', class='detailImg')
		figure
			figcaption Analysis Type 1
			img(src='http://placesheen.com/400/300', alt='', class='detailImg')
		figure
			figcaption Analysis Type 1
			img(src='http://placesheen.com/400/300', alt='', class='detailImg')
		figure
			figcaption Analysis Type 1
			img(src='http://placesheen.com/400/300', alt='', class='detailImg')